.page-wrapper {
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: tomato;
}

.page-wrapper_dark {
  background-color: maroon;
}


form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: orangered;
  width: 400px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid yellow;
  cursor: pointer;

  color: white;
  font-weight: bold;
  font-size: 20px;
}